# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/

# Éditeurs / OS (optionnel, léger)
Thumbs.db
.DS_Store

# Donnees locales Open Data (volumineux / non versionnees)
arrts-de-tramway-de-montpellier-mditerrane-mtropole-All-*.zip
rseau-de-tramway-de-montpellier-mditerrane-mtropole-All-*.zip
Alert.pb
TripUpdate.pb
VehiclePosition.pb
TAM_MMM_TpsReel.csv
tam_perturbations.json
